
html{
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}


.img-catalogo{
    height: 300px;
    width: 350px;
    border: 6px solid rgb(44, 120, 170);
    border-radius: 20px;
}

.titulo-catalogo{
    font-size: 25px;
    font-weight: lighter;
    margin: 25px 0 50px 0;
    color: aliceblue;
}

.boton-catalogo{
    width: 100px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}